body{
  font-family: sans-serif;
  margin: 200px;
  text-align: center;
  color:#fff;
  background-color: violet;
}

#time{
  font-weight: bold;
  font-size: 100px;
  text-shadow: 3px 3px red;
  /* margin-top: 10%; */
  
}



@media only screen and (max-width: 600px) {
    #time {
        font-size: 60px;
        margin-top: 10%;
    }
  }

  @media only screen and (max-width: 347px) {
    #time {
        font-size: 50px;
        margin-top: 10%;
    }
  }


#hex-color{
  font-weight: bold;
  font-size: 48px;
}